
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,600;1,700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
}
body{
   
    text-align: center;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    background: #ec008c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.BOX{
    background: #ec008c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
    width: 400px;
    height: 300px;
    padding-top: 50px;
    box-shadow: 10px 5px 5px black;
    
   
}

button{
    background: #ec008c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

border-radius: 30px;
border: 1px solid;
font-size: 12px;
padding: 1px 20px 1px 20px;
font-weight: bold;
box-shadow: 2px 2px 2px black;
}
.LOGIN{
    font-size: large;
    font-weight: bolder;
}


